.chat-view {
  border: #0165b3 solid 2px;
    box-shadow: 10px 10px #0165b3;
    margin: 50px auto;
    max-width: 85%;
    max-height: 85%;
}

@media screen and (max-width: 740px) {
 .chat-view {
    flex-direction: column-reverse;
  }
 .chat-view aside {
    width: 100% !important;
    flex-direction: row;
  }
 .chat-view aside header {
    display: none;
  }
 .chat-view aside vaadin-tabs {
    flex: 1 1 auto;
    overflow: auto;
  }
 .chat-view aside vaadin-tabs vaadin-tab.justify-between {
    justify-content: flex-start;
  }
}

.chatContainer {

}

.sidePanel {
  background-color: white;
}

.headerSidepanel H3 {
  color: red;
}


